accelerate==1.2.1
datasets[audio]==3.2.0
evaluate==0.4.3
jiwer==3.0.5
numpy==1.26.4
openai-whisper==20250625
packaging>=24.2
pandas==2.2.3
psutil==6.1.1
sentencepiece==0.2.0
soundfile==0.13.1
transformers==4.47.1
tqdm==4.67.1
